NET  "clk_in"         LOC = "V10";

Net rst LOC=B8;
## System level constraints
Net rst TIG;

## RS232 PORT
Net RS232_RX LOC=N18;
Net RS232_TX LOC=N17;

##
NET "GPIO_BUTTONS<0>"               LOC = "C4";    ## 2   on SW4 pushbutton (active-high)
NET "GPIO_BUTTONS<1>"               LOC = "D9";     ## 2   on SW7 pushbutton (active-high)
NET "GPIO_BUTTONS<2>"               LOC = "A8";     ## 2   on SW5 pushbutton (active-high)
NET "GPIO_BUTTONS<3>"               LOC = "C9";     ## 2   on SW8 pushbutton (active-high)

##
NET "GPIO_LEDS<0>"                  LOC = "U16";
NET "GPIO_LEDS<1>"                  LOC = "V16";
NET "GPIO_LEDS<2>"                  LOC = "U15";
NET "GPIO_LEDS<3>"                  LOC = "V15";
NET "GPIO_LEDS<4>"                  LOC = "M11";
NET "GPIO_LEDS<5>"                  LOC = "N11";
NET "GPIO_LEDS<6>"                  LOC = "R11";
NET "GPIO_LEDS<7>"                  LOC = "T11";

##
NET "GPIO_SWITCHES<0>"               LOC = "T10";   ## 1   on S2 DIP switch (active-high)
NET "GPIO_SWITCHES<1>"               LOC = "T9";    ## 2   on S2 DIP switch (active-high)
NET "GPIO_SWITCHES<2>"               LOC = "V9";    ## 3   on S2 DIP switch (active-high)
NET "GPIO_SWITCHES<3>"               LOC = "M8";    ## 4   on S2 DIP switch (active-high)
NET "GPIO_SWITCHES<4>"               LOC = "N8";    ## 4   on S2 DIP switch (active-high)
NET "GPIO_SWITCHES<5>"               LOC = "U8";    ## 4   on S2 DIP switch (active-high)
NET "GPIO_SWITCHES<6>"               LOC = "V8";    ## 4   on S2 DIP switch (active-high)
NET "GPIO_SWITCHES<7>"               LOC = "T5";    ## 4   on S2 DIP switch (active-high)

##
NET "PHY_RESET"                   LOC = "P3";   ## 36  ON U46
NET "TXCLK"                       LOC = "L5";   ## 10  on U46

NET "TXD<0>"                      LOC = "U2";   ## 18  on U46
NET "TXD<1>"                      LOC = "U1";   ## 19  on U46
NET "TXD<2>"                      LOC = "T2";   ## 20  on U46
NET "TXD<3>"                      LOC = "T1";   ## 24  on U46

NET "TXEN"                        LOC = "L2";    ## 16  on U46
NET "TXER"                        LOC = "P2";    ## 13  on U46

NET "RXD<0>"                      LOC = "P1";   ## 3   on U46
NET "RXD<1>"                      LOC = "N2";   ## 128 on U46
NET "RXD<2>"                      LOC = "N1";   ## 126 on U46
NET "RXD<3>"                      LOC = "M3";   ## 125 on U46

NET "RXDV"                        LOC = "L1";   ## 4   on U46
NET "RXER"                        LOC = "M1";   ## 8   on U46
NET "RXCLK"                       LOC = "H4";   ## 7   ON U46

NET "CLK_IN" TNM_NET = "CLK_IN";
TIMESPEC "TS_CLK" = PERIOD "CLK_IN" 10 ns HIGH 50% INPUT_JITTER 50.0ps;

#Define the clock period of the 25MHz RXCLK
NET "RXCLK" TNM_NET = "RXCLK";
TIMESPEC "TS_RXCLK" = PERIOD "RXCLK" 40 ns HIGH 50 %;

#Define the  setup and hold times of RX data relative to RXCLK
INST "RXD<?>" TNM = "IN_GMII";
INST "RXDV"   TNM = "IN_GMII";
INST "RXER"   TNM = "IN_GMII";
TIMEGRP "IN_GMII" OFFSET = IN 10 ns VALID 20 ns BEFORE "RXCLK";

