//! **************************************************************************
// Written by: Map P.40xd on Sun Jul 31 18:49:46 2016
//! **************************************************************************

SCHEMATIC START;
COMP "KC" LOCATE = SITE "P17" LEVEL 1;
COMP "KD" LOCATE = SITE "N15" LEVEL 1;
COMP "MKC" LOCATE = SITE "N18" LEVEL 1;
COMP "MKD" LOCATE = SITE "P18" LEVEL 1;
COMP "RST" LOCATE = SITE "T15" LEVEL 1;
COMP "PHY_RESET" LOCATE = SITE "G13" LEVEL 1;
COMP "RXER" LOCATE = SITE "F18" LEVEL 1;
COMP "RXDV" LOCATE = SITE "F17" LEVEL 1;
COMP "TXEN" LOCATE = SITE "H15" LEVEL 1;
COMP "TXER" LOCATE = SITE "G18" LEVEL 1;
COMP "GPIO_BUTTONS<0>" LOCATE = SITE "N4" LEVEL 1;
COMP "GPIO_BUTTONS<1>" LOCATE = SITE "P4" LEVEL 1;
COMP "GPIO_BUTTONS<2>" LOCATE = SITE "P3" LEVEL 1;
COMP "GPIO_BUTTONS<3>" LOCATE = SITE "F6" LEVEL 1;
COMP "TXCLK" LOCATE = SITE "K16" LEVEL 1;
COMP "CLK_IN" LOCATE = SITE "L15" LEVEL 1;
COMP "GTXCLK" LOCATE = SITE "L12" LEVEL 1;
COMP "RXD<0>" LOCATE = SITE "G16" LEVEL 1;
COMP "RXD<1>" LOCATE = SITE "H14" LEVEL 1;
COMP "RXD<2>" LOCATE = SITE "E16" LEVEL 1;
COMP "RXD<3>" LOCATE = SITE "F15" LEVEL 1;
COMP "RXD<4>" LOCATE = SITE "F14" LEVEL 1;
COMP "RXD<5>" LOCATE = SITE "E18" LEVEL 1;
COMP "RXD<6>" LOCATE = SITE "D18" LEVEL 1;
COMP "RXD<7>" LOCATE = SITE "D17" LEVEL 1;
COMP "TXD<0>" LOCATE = SITE "H16" LEVEL 1;
COMP "TXD<1>" LOCATE = SITE "H13" LEVEL 1;
COMP "TXD<2>" LOCATE = SITE "K14" LEVEL 1;
COMP "TXD<3>" LOCATE = SITE "K13" LEVEL 1;
COMP "TXD<4>" LOCATE = SITE "J13" LEVEL 1;
COMP "TXD<5>" LOCATE = SITE "G14" LEVEL 1;
COMP "TXD<6>" LOCATE = SITE "H12" LEVEL 1;
COMP "TXD<7>" LOCATE = SITE "K12" LEVEL 1;
COMP "GPIO_LEDS<0>" LOCATE = SITE "U18" LEVEL 1;
COMP "GPIO_LEDS<1>" LOCATE = SITE "M14" LEVEL 1;
COMP "GPIO_LEDS<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "GPIO_LEDS<3>" LOCATE = SITE "L14" LEVEL 1;
COMP "GPIO_LEDS<4>" LOCATE = SITE "M13" LEVEL 1;
COMP "GPIO_LEDS<5>" LOCATE = SITE "D4" LEVEL 1;
COMP "GPIO_LEDS<6>" LOCATE = SITE "P16" LEVEL 1;
COMP "GPIO_LEDS<7>" LOCATE = SITE "N12" LEVEL 1;
COMP "GPIO_SWITCHES<0>" LOCATE = SITE "A10" LEVEL 1;
COMP "GPIO_SWITCHES<1>" LOCATE = SITE "D14" LEVEL 1;
COMP "GPIO_SWITCHES<2>" LOCATE = SITE "C14" LEVEL 1;
COMP "GPIO_SWITCHES<3>" LOCATE = SITE "P15" LEVEL 1;
COMP "GPIO_SWITCHES<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "GPIO_SWITCHES<5>" LOCATE = SITE "R5" LEVEL 1;
COMP "GPIO_SWITCHES<6>" LOCATE = SITE "T5" LEVEL 1;
COMP "GPIO_SWITCHES<7>" LOCATE = SITE "E4" LEVEL 1;
COMP "RS232_RX" LOCATE = SITE "A16" LEVEL 1;
COMP "RS232_TX" LOCATE = SITE "B16" LEVEL 1;
PIN gigabit_ethernet_inst_1/Mram_TX_MEMORY2_pins<22> = BEL
        "gigabit_ethernet_inst_1/Mram_TX_MEMORY2" PINNAME CLKA;
PIN gigabit_ethernet_inst_1/Mram_TX_MEMORY1_pins<22> = BEL
        "gigabit_ethernet_inst_1/Mram_TX_MEMORY1" PINNAME CLKA;
PIN USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory16_pins<13> = BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory16" PINNAME
        CLKA;
PIN USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory15_pins<13> = BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory15" PINNAME
        CLKA;
PIN USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory14_pins<13> = BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory14" PINNAME
        CLKA;
PIN USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory13_pins<13> = BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory13" PINNAME
        CLKA;
PIN USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory12_pins<13> = BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory12" PINNAME
        CLKA;
PIN USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory11_pins<13> = BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory11" PINNAME
        CLKA;
PIN USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory10_pins<13> = BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory10" PINNAME
        CLKA;
PIN USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory9_pins<13> = BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory9" PINNAME CLKA;
PIN USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory8_pins<13> = BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory8" PINNAME CLKA;
PIN USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory7_pins<13> = BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory7" PINNAME CLKA;
PIN USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory6_pins<13> = BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory6" PINNAME CLKA;
PIN USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory5_pins<13> = BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory5" PINNAME CLKA;
PIN USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory4_pins<13> = BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory4" PINNAME CLKA;
PIN USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory3_pins<13> = BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory3" PINNAME CLKA;
PIN USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory2_pins<13> = BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory2" PINNAME CLKA;
PIN USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory1_pins<13> = BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory1" PINNAME CLKA;
PIN USER_DESIGN_INST_1/main_0_139862646396544_Mram_instructions2_pins<10> =
        BEL "USER_DESIGN_INST_1/main_0_139862646396544_Mram_instructions2"
        PINNAME CLKA;
PIN USER_DESIGN_INST_1/main_0_139862646396544_Mram_instructions1_pins<10> =
        BEL "USER_DESIGN_INST_1/main_0_139862646396544_Mram_instructions1"
        PINNAME CLKA;
TIMEGRP clkdv = BEL "NOT_LOCKED" BEL "INTERNAL_RST" BEL "BUFG_INST1" BEL
        "gigabit_ethernet_inst_1/TX_PACKET_STATE_FSM_FFd1" BEL
        "gigabit_ethernet_inst_1/TX_PACKET_STATE_FSM_FFd2" BEL
        "gigabit_ethernet_inst_1/S_TX_ACK" BEL
        "gigabit_ethernet_inst_1/TX_IN_COUNT_10" BEL
        "gigabit_ethernet_inst_1/TX_IN_COUNT_9" BEL
        "gigabit_ethernet_inst_1/TX_IN_COUNT_8" BEL
        "gigabit_ethernet_inst_1/TX_IN_COUNT_7" BEL
        "gigabit_ethernet_inst_1/TX_IN_COUNT_6" BEL
        "gigabit_ethernet_inst_1/TX_IN_COUNT_5" BEL
        "gigabit_ethernet_inst_1/TX_IN_COUNT_4" BEL
        "gigabit_ethernet_inst_1/TX_IN_COUNT_3" BEL
        "gigabit_ethernet_inst_1/TX_IN_COUNT_2" BEL
        "gigabit_ethernet_inst_1/TX_IN_COUNT_1" BEL
        "gigabit_ethernet_inst_1/GO" BEL "gigabit_ethernet_inst_1/TX_WRITE"
        BEL "KEYBOARD_INST_1/STATE_FSM_FFd1" BEL "KEYBOARD_INST_1/TIMEOUT_25"
        BEL "KEYBOARD_INST_1/TIMEOUT_24" BEL "KEYBOARD_INST_1/TIMEOUT_23" BEL
        "KEYBOARD_INST_1/TIMEOUT_22" BEL "KEYBOARD_INST_1/TIMEOUT_21" BEL
        "KEYBOARD_INST_1/TIMEOUT_20" BEL "KEYBOARD_INST_1/TIMEOUT_19" BEL
        "KEYBOARD_INST_1/TIMEOUT_18" BEL "KEYBOARD_INST_1/TIMEOUT_17" BEL
        "KEYBOARD_INST_1/TIMEOUT_16" BEL "KEYBOARD_INST_1/TIMEOUT_15" BEL
        "KEYBOARD_INST_1/TIMEOUT_14" BEL "KEYBOARD_INST_1/TIMEOUT_13" BEL
        "KEYBOARD_INST_1/TIMEOUT_12" BEL "KEYBOARD_INST_1/TIMEOUT_11" BEL
        "KEYBOARD_INST_1/TIMEOUT_10" BEL "KEYBOARD_INST_1/TIMEOUT_9" BEL
        "KEYBOARD_INST_1/TIMEOUT_8" BEL "KEYBOARD_INST_1/TIMEOUT_7" BEL
        "KEYBOARD_INST_1/TIMEOUT_6" BEL "KEYBOARD_INST_1/TIMEOUT_5" BEL
        "KEYBOARD_INST_1/TIMEOUT_4" BEL "KEYBOARD_INST_1/TIMEOUT_3" BEL
        "KEYBOARD_INST_1/TIMEOUT_2" BEL "KEYBOARD_INST_1/TIMEOUT_1" BEL
        "KEYBOARD_INST_1/TIMEOUT_0" BEL "KEYBOARD_INST_1/STATE_FSM_FFd2" BEL
        "KEYBOARD_INST_1/BIT_COUNT_3" BEL "KEYBOARD_INST_1/BIT_COUNT_2" BEL
        "KEYBOARD_INST_1/BIT_COUNT_1" BEL "KEYBOARD_INST_1/BIT_COUNT_0" BEL
        "KEYBOARD_INST_1/DATA_0" BEL "KEYBOARD_INST_1/DATA_1" BEL
        "KEYBOARD_INST_1/DATA_2" BEL "KEYBOARD_INST_1/DATA_3" BEL
        "KEYBOARD_INST_1/DATA_4" BEL "KEYBOARD_INST_1/DATA_5" BEL
        "KEYBOARD_INST_1/DATA_6" BEL "KEYBOARD_INST_1/DATA_7" BEL
        "KEYBOARD_INST_1/INT_DATA_8" BEL "KEYBOARD_INST_1/INT_DATA_7" BEL
        "KEYBOARD_INST_1/INT_DATA_6" BEL "KEYBOARD_INST_1/INT_DATA_5" BEL
        "KEYBOARD_INST_1/INT_DATA_4" BEL "KEYBOARD_INST_1/INT_DATA_3" BEL
        "KEYBOARD_INST_1/INT_DATA_2" BEL "KEYBOARD_INST_1/INT_DATA_1" BEL
        "KEYBOARD_INST_1/LAST_KC" BEL "KEYBOARD_INST_1/S_DATA_STB" BEL
        "SERIAL_INPUT_INST_1/BAUD_COUNT_4" BEL
        "SERIAL_INPUT_INST_1/BAUD_COUNT_3" BEL
        "SERIAL_INPUT_INST_1/BAUD_COUNT_2" BEL
        "SERIAL_INPUT_INST_1/BAUD_COUNT_1" BEL
        "SERIAL_INPUT_INST_1/BAUD_COUNT_0" BEL "SERIAL_INPUT_INST_1/COUNT_1"
        BEL "SERIAL_INPUT_INST_1/COUNT_0" BEL
        "SERIAL_INPUT_INST_1/STATE_FSM_FFd1" BEL
        "SERIAL_INPUT_INST_1/STATE_FSM_FFd2" BEL
        "SERIAL_INPUT_INST_1/STATE_FSM_FFd4" BEL
        "SERIAL_INPUT_INST_1/STATE_FSM_FFd3" BEL
        "SERIAL_INPUT_INST_1/BIT_SPACING_3" BEL
        "SERIAL_INPUT_INST_1/BIT_SPACING_2" BEL
        "SERIAL_INPUT_INST_1/BIT_SPACING_1" BEL
        "SERIAL_INPUT_INST_1/BIT_SPACING_0" BEL "SERIAL_INPUT_INST_1/OUT1_7"
        BEL "SERIAL_INPUT_INST_1/OUT1_6" BEL "SERIAL_INPUT_INST_1/OUT1_5" BEL
        "SERIAL_INPUT_INST_1/OUT1_4" BEL "SERIAL_INPUT_INST_1/OUT1_3" BEL
        "SERIAL_INPUT_INST_1/OUT1_2" BEL "SERIAL_INPUT_INST_1/OUT1_1" BEL
        "SERIAL_INPUT_INST_1/OUT1_0" BEL "SERIAL_INPUT_INST_1/OUT1_STB" BEL
        "SERIAL_INPUT_INST_1/X16CLK_EN" BEL
        "SERIAL_INPUT_INST_1/SERIAL_DEGLITCH_1" BEL
        "SERIAL_INPUT_INST_1/SERIAL_DEGLITCH_0" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/state_FSM_FFd1" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/state_FSM_FFd2" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/state_FSM_FFd3" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_31" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_30" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_29" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_28" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_27" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_26" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_25" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_24" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_23" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_22" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_21" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_20" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_19" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_18" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_17" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_16" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_15" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_14" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_13" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_12" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_11" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_10" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_9" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_8" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_7" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_6" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_5" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_4" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_3" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_2" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_1" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/result_0" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/s_output_rs232_tx_7" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/s_output_rs232_tx_6" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/s_output_rs232_tx_5" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/s_output_rs232_tx_4" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/s_output_rs232_tx_3" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/s_output_rs232_tx_2" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/s_output_rs232_tx_1" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/s_output_rs232_tx_0" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_value_7" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_value_6" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_value_5" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_value_4" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_value_3" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_value_2" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_value_1" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_value_0" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_2_15" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_2_14" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_2_13" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_2_12" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_2_11" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_2_10" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_2_9" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_2_8" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_2_7" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_2_6" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_2_5" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_2_4" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_2_3" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_2_2" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_2_1" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_2_0" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/literal_2_15" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/literal_2_14" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/literal_2_13" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/literal_2_12" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/literal_2_11" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/literal_2_10" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/literal_2_9" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/literal_2_8" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/literal_2_7" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/literal_2_6" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/literal_2_5" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/literal_2_4" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/literal_2_3" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/literal_2_2" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/literal_2_1" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/literal_2_0" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_1_15" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_1_14" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_1_13" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_1_12" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_1_11" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_1_10" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_1_9" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_1_8" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_1_7" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_1_6" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_1_5" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_1_4" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_1_3" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_1_2" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_1_1" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_1_0" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_15" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_14" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_13" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_12" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_111" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_10" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_9" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_8" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_7" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_6" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_5" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_4" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_3" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_21" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_11" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/program_counter_0" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_31" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_30" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_29" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_28" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_27" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_26" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_25" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_24" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_23" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_22" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_21" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_20" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_19" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_18" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_17" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_16" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_15" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_14" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_13" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_12" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_11" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_10" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_9" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_8" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_7" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_6" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_5" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_4" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_3" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_2" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_1" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/read_input_0" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_31" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_30" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_29" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_28" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_27" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_26" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_25" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_24" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_23" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_22" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_21" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_20" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_19" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_18" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_17" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_16" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_15" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_14" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_13" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_12" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_11" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_10" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_9" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_8" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_7" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_6" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_5" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_4" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_3" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_2" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_1" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_output_0" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/address_z_3_3" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/address_z_3_2" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/address_z_3_1" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/address_z_3_0" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/s_output_rs232_tx_stb" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/s_input_rs232_rx_ack" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/s_input_ps2_ack" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/address_z_2_3" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/address_z_2_2" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/address_z_2_1" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/address_z_2_0" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/address_a_2_3" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/address_a_2_2" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/address_a_2_1" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/address_a_2_0" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/opcode_2_3" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/opcode_2_2" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/opcode_2_1" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/opcode_2_0" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/write_enable" BEL
        "SERIAL_OUTPUT_INST_1/STATE_FSM_FFd1" BEL
        "SERIAL_OUTPUT_INST_1/BAUD_COUNT_8" BEL
        "SERIAL_OUTPUT_INST_1/BAUD_COUNT_7" BEL
        "SERIAL_OUTPUT_INST_1/BAUD_COUNT_6" BEL
        "SERIAL_OUTPUT_INST_1/BAUD_COUNT_5" BEL
        "SERIAL_OUTPUT_INST_1/BAUD_COUNT_4" BEL
        "SERIAL_OUTPUT_INST_1/BAUD_COUNT_3" BEL
        "SERIAL_OUTPUT_INST_1/BAUD_COUNT_2" BEL
        "SERIAL_OUTPUT_INST_1/BAUD_COUNT_1" BEL
        "SERIAL_OUTPUT_INST_1/STATE_FSM_FFd2" BEL
        "SERIAL_OUTPUT_INST_1/STATE_FSM_FFd3" BEL
        "SERIAL_OUTPUT_INST_1/STATE_FSM_FFd4" BEL "SERIAL_OUTPUT_INST_1/TX"
        BEL "SERIAL_OUTPUT_INST_1/S_IN1_ACK" BEL
        "SERIAL_OUTPUT_INST_1/X16CLK_EN" BEL "SERIAL_OUTPUT_INST_1/DATA_7" BEL
        "SERIAL_OUTPUT_INST_1/DATA_6" BEL "SERIAL_OUTPUT_INST_1/DATA_5" BEL
        "SERIAL_OUTPUT_INST_1/DATA_4" BEL "SERIAL_OUTPUT_INST_1/DATA_3" BEL
        "SERIAL_OUTPUT_INST_1/DATA_2" BEL "SERIAL_OUTPUT_INST_1/DATA_1" BEL
        "SERIAL_OUTPUT_INST_1/DATA_0" BEL "SERIAL_INPUT_INST_1/INT_SERIAL" BEL
        "INTERNAL_RST_1" BEL "INTERNAL_RST_2" PIN
        "gigabit_ethernet_inst_1/Mram_TX_MEMORY2_pins<22>" PIN
        "gigabit_ethernet_inst_1/Mram_TX_MEMORY1_pins<22>" PIN
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory16_pins<13>" PIN
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory15_pins<13>" PIN
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory14_pins<13>" PIN
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory13_pins<13>" PIN
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory12_pins<13>" PIN
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory11_pins<13>" PIN
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory10_pins<13>" PIN
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory9_pins<13>" PIN
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory8_pins<13>" PIN
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory7_pins<13>" PIN
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory6_pins<13>" PIN
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory5_pins<13>" PIN
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory4_pins<13>" PIN
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory3_pins<13>" PIN
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory2_pins<13>" PIN
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_memory1_pins<13>" PIN
        "USER_DESIGN_INST_1/main_0_139862646396544_Mram_instructions2_pins<10>"
        PIN
        "USER_DESIGN_INST_1/main_0_139862646396544_Mram_instructions1_pins<10>"
        BEL "gigabit_ethernet_inst_1/Mshreg_DONE_SYNC" BEL
        "gigabit_ethernet_inst_1/DONE_SYNC" BEL
        "KEYBOARD_INST_1/Mshreg_INT_KC" BEL "KEYBOARD_INST_1/INT_KC" BEL
        "KEYBOARD_INST_1/Mshreg_INT_KD" BEL "KEYBOARD_INST_1/INT_KD" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers162/SP" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers162/DP" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers161/SP" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers161/DP" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers71/SP" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers71/DP" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers72/SP" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers72/DP" BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers11_RAMA_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers11_RAMA"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers11_RAMB_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers11_RAMB"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers11_RAMC_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers11_RAMC"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers11_RAMD_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers11_RAMD"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers12_RAMA_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers12_RAMA"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers12_RAMB_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers12_RAMB"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers12_RAMC_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers12_RAMC"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers12_RAMD_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers12_RAMD"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers13_RAMA_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers13_RAMA"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers13_RAMB_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers13_RAMB"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers13_RAMC_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers13_RAMC"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers13_RAMD_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers13_RAMD"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers14_RAMA_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers14_RAMA"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers14_RAMB_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers14_RAMB"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers14_RAMC_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers14_RAMC"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers14_RAMD_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers14_RAMD"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers15_RAMA_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers15_RAMA"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers15_RAMB_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers15_RAMB"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers15_RAMC_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers15_RAMC"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers15_RAMD_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers15_RAMD"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers2_RAMA_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers2_RAMA"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers2_RAMB_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers2_RAMB"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers2_RAMC_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers2_RAMC"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers2_RAMD_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers2_RAMD"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers3_RAMA_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers3_RAMA"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers3_RAMB_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers3_RAMB"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers3_RAMC_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers3_RAMC"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers3_RAMD_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers3_RAMD"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers4_RAMA_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers4_RAMA"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers4_RAMB_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers4_RAMB"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers4_RAMC_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers4_RAMC"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers4_RAMD_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers4_RAMD"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers5_RAMA_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers5_RAMA"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers5_RAMB_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers5_RAMB"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers5_RAMC_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers5_RAMC"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers5_RAMD_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers5_RAMD"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers6_RAMA_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers6_RAMA"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers6_RAMB_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers6_RAMB"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers6_RAMC_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers6_RAMC"
        BEL
        "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers6_RAMD_D1"
        BEL "USER_DESIGN_INST_1/main_0_139862646396544/Mram_registers6_RAMD";
PIN gigabit_ethernet_inst_1/Mram_TX_MEMORY2_pins<23> = BEL
        "gigabit_ethernet_inst_1/Mram_TX_MEMORY2" PINNAME CLKB;
PIN gigabit_ethernet_inst_1/Mram_TX_MEMORY1_pins<23> = BEL
        "gigabit_ethernet_inst_1/Mram_TX_MEMORY1" PINNAME CLKB;
PIN ODDR2_INST1_pins<1> = BEL "ODDR2_INST1" PINNAME CK0;
PIN ODDR2_INST2_GENERATE[0].ODDR2_INST2_pins<1> = BEL
        "ODDR2_INST2_GENERATE[0].ODDR2_INST2" PINNAME CK0;
PIN ODDR2_INST2_GENERATE[1].ODDR2_INST2_pins<1> = BEL
        "ODDR2_INST2_GENERATE[1].ODDR2_INST2" PINNAME CK0;
PIN ODDR2_INST2_GENERATE[2].ODDR2_INST2_pins<1> = BEL
        "ODDR2_INST2_GENERATE[2].ODDR2_INST2" PINNAME CK0;
PIN ODDR2_INST2_GENERATE[3].ODDR2_INST2_pins<1> = BEL
        "ODDR2_INST2_GENERATE[3].ODDR2_INST2" PINNAME CK0;
PIN ODDR2_INST2_GENERATE[4].ODDR2_INST2_pins<1> = BEL
        "ODDR2_INST2_GENERATE[4].ODDR2_INST2" PINNAME CK0;
PIN ODDR2_INST2_GENERATE[5].ODDR2_INST2_pins<1> = BEL
        "ODDR2_INST2_GENERATE[5].ODDR2_INST2" PINNAME CK0;
PIN ODDR2_INST2_GENERATE[6].ODDR2_INST2_pins<1> = BEL
        "ODDR2_INST2_GENERATE[6].ODDR2_INST2" PINNAME CK0;
PIN ODDR2_INST2_GENERATE[7].ODDR2_INST2_pins<1> = BEL
        "ODDR2_INST2_GENERATE[7].ODDR2_INST2" PINNAME CK0;
PIN ODDR2_INST3_pins<1> = BEL "ODDR2_INST3" PINNAME CK0;
PIN ODDR2_INST4_pins<1> = BEL "ODDR2_INST4" PINNAME CK0;
TIMEGRP clkfx = BEL "BUFG_INST3" BEL
        "gigabit_ethernet_inst_1/TX_READ_ADDRESS_10" BEL
        "gigabit_ethernet_inst_1/TX_READ_ADDRESS_9" BEL
        "gigabit_ethernet_inst_1/TX_READ_ADDRESS_8" BEL
        "gigabit_ethernet_inst_1/TX_READ_ADDRESS_7" BEL
        "gigabit_ethernet_inst_1/TX_READ_ADDRESS_6" BEL
        "gigabit_ethernet_inst_1/TX_READ_ADDRESS_5" BEL
        "gigabit_ethernet_inst_1/TX_READ_ADDRESS_4" BEL
        "gigabit_ethernet_inst_1/TX_READ_ADDRESS_3" BEL
        "gigabit_ethernet_inst_1/TX_READ_ADDRESS_2" BEL
        "gigabit_ethernet_inst_1/TX_READ_ADDRESS_1" BEL
        "gigabit_ethernet_inst_1/TX_READ_ADDRESS_0" BEL
        "gigabit_ethernet_inst_1/TX_CRC_31" BEL
        "gigabit_ethernet_inst_1/TX_CRC_30" BEL
        "gigabit_ethernet_inst_1/TX_CRC_29" BEL
        "gigabit_ethernet_inst_1/TX_CRC_28" BEL
        "gigabit_ethernet_inst_1/TX_CRC_27" BEL
        "gigabit_ethernet_inst_1/TX_CRC_26" BEL
        "gigabit_ethernet_inst_1/TX_CRC_25" BEL
        "gigabit_ethernet_inst_1/TX_CRC_24" BEL
        "gigabit_ethernet_inst_1/TX_CRC_23" BEL
        "gigabit_ethernet_inst_1/TX_CRC_22" BEL
        "gigabit_ethernet_inst_1/TX_CRC_21" BEL
        "gigabit_ethernet_inst_1/TX_CRC_20" BEL
        "gigabit_ethernet_inst_1/TX_CRC_19" BEL
        "gigabit_ethernet_inst_1/TX_CRC_18" BEL
        "gigabit_ethernet_inst_1/TX_CRC_17" BEL
        "gigabit_ethernet_inst_1/TX_CRC_16" BEL
        "gigabit_ethernet_inst_1/TX_CRC_15" BEL
        "gigabit_ethernet_inst_1/TX_CRC_14" BEL
        "gigabit_ethernet_inst_1/TX_CRC_13" BEL
        "gigabit_ethernet_inst_1/TX_CRC_12" BEL
        "gigabit_ethernet_inst_1/TX_CRC_11" BEL
        "gigabit_ethernet_inst_1/TX_CRC_10" BEL
        "gigabit_ethernet_inst_1/TX_CRC_9" BEL
        "gigabit_ethernet_inst_1/TX_CRC_8" BEL
        "gigabit_ethernet_inst_1/TX_CRC_7" BEL
        "gigabit_ethernet_inst_1/TX_CRC_6" BEL
        "gigabit_ethernet_inst_1/TX_CRC_5" BEL
        "gigabit_ethernet_inst_1/TX_CRC_4" BEL
        "gigabit_ethernet_inst_1/TX_CRC_3" BEL
        "gigabit_ethernet_inst_1/TX_CRC_2" BEL
        "gigabit_ethernet_inst_1/TX_CRC_1" BEL
        "gigabit_ethernet_inst_1/TX_CRC_0" BEL
        "gigabit_ethernet_inst_1/TX_OUT_COUNT_10" BEL
        "gigabit_ethernet_inst_1/TX_OUT_COUNT_9" BEL
        "gigabit_ethernet_inst_1/TX_OUT_COUNT_8" BEL
        "gigabit_ethernet_inst_1/TX_OUT_COUNT_7" BEL
        "gigabit_ethernet_inst_1/TX_OUT_COUNT_6" BEL
        "gigabit_ethernet_inst_1/TX_OUT_COUNT_5" BEL
        "gigabit_ethernet_inst_1/TX_OUT_COUNT_4" BEL
        "gigabit_ethernet_inst_1/TX_OUT_COUNT_3" BEL
        "gigabit_ethernet_inst_1/TX_OUT_COUNT_2" BEL
        "gigabit_ethernet_inst_1/TX_OUT_COUNT_1" BEL
        "gigabit_ethernet_inst_1/TX_OUT_COUNT_0" BEL
        "gigabit_ethernet_inst_1/TX_PHY_STATE_FSM_FFd1" BEL
        "gigabit_ethernet_inst_1/TX_PHY_STATE_FSM_FFd2" BEL
        "gigabit_ethernet_inst_1/TXEN" BEL "gigabit_ethernet_inst_1/DONE" BEL
        "gigabit_ethernet_inst_1/TX_PHY_STATE_FSM_FFd4" BEL
        "gigabit_ethernet_inst_1/TXD_7" BEL
        "gigabit_ethernet_inst_1/TX_PHY_STATE_FSM_FFd3" BEL
        "gigabit_ethernet_inst_1/TXD_3" BEL "gigabit_ethernet_inst_1/TXD_1"
        BEL "gigabit_ethernet_inst_1/TXD_5" BEL
        "gigabit_ethernet_inst_1/TXD_6" BEL "gigabit_ethernet_inst_1/TXD_4"
        BEL "gigabit_ethernet_inst_1/TXD_2" BEL
        "gigabit_ethernet_inst_1/TXD_0" PIN
        "gigabit_ethernet_inst_1/Mram_TX_MEMORY2_pins<23>" PIN
        "gigabit_ethernet_inst_1/Mram_TX_MEMORY1_pins<23>" BEL
        "gigabit_ethernet_inst_1/Mshreg_GO_SYNC" BEL
        "gigabit_ethernet_inst_1/GO_SYNC" PIN "ODDR2_INST1_pins<1>" PIN
        "ODDR2_INST2_GENERATE[0].ODDR2_INST2_pins<1>" PIN
        "ODDR2_INST2_GENERATE[1].ODDR2_INST2_pins<1>" PIN
        "ODDR2_INST2_GENERATE[2].ODDR2_INST2_pins<1>" PIN
        "ODDR2_INST2_GENERATE[3].ODDR2_INST2_pins<1>" PIN
        "ODDR2_INST2_GENERATE[4].ODDR2_INST2_pins<1>" PIN
        "ODDR2_INST2_GENERATE[5].ODDR2_INST2_pins<1>" PIN
        "ODDR2_INST2_GENERATE[6].ODDR2_INST2_pins<1>" PIN
        "ODDR2_INST2_GENERATE[7].ODDR2_INST2_pins<1>" PIN
        "ODDR2_INST3_pins<1>" PIN "ODDR2_INST4_pins<1>";
PIN ODDR2_INST1_pins<2> = BEL "ODDR2_INST1" PINNAME CK1;
PIN ODDR2_INST2_GENERATE[0].ODDR2_INST2_pins<2> = BEL
        "ODDR2_INST2_GENERATE[0].ODDR2_INST2" PINNAME CK1;
PIN ODDR2_INST2_GENERATE[1].ODDR2_INST2_pins<2> = BEL
        "ODDR2_INST2_GENERATE[1].ODDR2_INST2" PINNAME CK1;
PIN ODDR2_INST2_GENERATE[2].ODDR2_INST2_pins<2> = BEL
        "ODDR2_INST2_GENERATE[2].ODDR2_INST2" PINNAME CK1;
PIN ODDR2_INST2_GENERATE[3].ODDR2_INST2_pins<2> = BEL
        "ODDR2_INST2_GENERATE[3].ODDR2_INST2" PINNAME CK1;
PIN ODDR2_INST2_GENERATE[4].ODDR2_INST2_pins<2> = BEL
        "ODDR2_INST2_GENERATE[4].ODDR2_INST2" PINNAME CK1;
PIN ODDR2_INST2_GENERATE[5].ODDR2_INST2_pins<2> = BEL
        "ODDR2_INST2_GENERATE[5].ODDR2_INST2" PINNAME CK1;
PIN ODDR2_INST2_GENERATE[6].ODDR2_INST2_pins<2> = BEL
        "ODDR2_INST2_GENERATE[6].ODDR2_INST2" PINNAME CK1;
PIN ODDR2_INST2_GENERATE[7].ODDR2_INST2_pins<2> = BEL
        "ODDR2_INST2_GENERATE[7].ODDR2_INST2" PINNAME CK1;
PIN ODDR2_INST3_pins<2> = BEL "ODDR2_INST3" PINNAME CK1;
PIN ODDR2_INST4_pins<2> = BEL "ODDR2_INST4" PINNAME CK1;
TIMEGRP clkfx180 = BEL "BUFG_INST4" PIN "ODDR2_INST1_pins<2>" PIN
        "ODDR2_INST2_GENERATE[0].ODDR2_INST2_pins<2>" PIN
        "ODDR2_INST2_GENERATE[1].ODDR2_INST2_pins<2>" PIN
        "ODDR2_INST2_GENERATE[2].ODDR2_INST2_pins<2>" PIN
        "ODDR2_INST2_GENERATE[3].ODDR2_INST2_pins<2>" PIN
        "ODDR2_INST2_GENERATE[4].ODDR2_INST2_pins<2>" PIN
        "ODDR2_INST2_GENERATE[5].ODDR2_INST2_pins<2>" PIN
        "ODDR2_INST2_GENERATE[6].ODDR2_INST2_pins<2>" PIN
        "ODDR2_INST2_GENERATE[7].ODDR2_INST2_pins<2>" PIN
        "ODDR2_INST3_pins<2>" PIN "ODDR2_INST4_pins<2>";
TIMEGRP IN_GMII = BEL "RXD<7>" BEL "RXD<6>" BEL "RXD<5>" BEL "RXD<4>" BEL
        "RXD<3>" BEL "RXD<2>" BEL "RXD<1>" BEL "RXD<0>" BEL "RXDV" BEL "RXER";
PIN SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0> = BEL "SP6_BUFIO_INSERT_ML_BUFIO2_0"
        PINNAME DIVCLK;
PIN dcm_sp_inst_pins<5> = BEL "dcm_sp_inst" PINNAME CLKIN;
TIMEGRP CLK_IN = PIN "SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0>" PIN
        "dcm_sp_inst_pins<5>";
TS_CLK = PERIOD TIMEGRP "CLK_IN" 10 ns HIGH 50% INPUT_JITTER 0.05 ns;
TS_clkfx = PERIOD TIMEGRP "clkfx" TS_CLK / 1.25 HIGH 50% INPUT_JITTER 0.05 ns;
TS_clkfx180 = PERIOD TIMEGRP "clkfx180" TS_CLK / 1.25 PHASE 4 ns HIGH 50%
        INPUT_JITTER 0.05 ns;
TS_clkdv = PERIOD TIMEGRP "clkdv" TS_CLK * 2 HIGH 50% INPUT_JITTER 0.05 ns;
PIN RST_pins<0> = BEL "RST" PINNAME PAD;
PIN "RST_pins<0>" TIG;
SCHEMATIC END;

